.verticalMenu {
	margin-bottom:50px;
	margin-left:10px;
/*	text-align:right;*/
}

ul#menuBlock {
/* 	float:right; */
	float:left;
	margin:0px;
	padding:0px;
	list-style:none;
 	height:24px;
}

ul#menuBlock li {
	position:relative;
	display:block;
	float:left;
	width:150px;
	border:1px outset #D3D3D3;
	height:21px;
	text-align:center;
	background:#E6E6FA;
	padding-top:5px;
	padding-bottom:-2px;
}

ul#menuBlock li a {
	color:#696969;
	font: bold 12px/1 Verdana,arial;
}

ul#menuBlock li ul {
	margin:0px;
	padding:0px;
	list-style:none;
	position:absolute;
	top:24px;
	left:-1px;
	display:none;
}

ul#menuBlock li ul li {
}

/*ul#menuBlock li:hover ul{
	display:block;
}*/